
/*ESTILOS FORMULARIO EN CONTACTAME------------------------------------------------------------ */
.descripcionFormulario{
    margin-top: map-get($viewHeight, diez );
    p{
        font-size: 1.2rem;
    }
  }
  .numero-Correo{
    margin-top: 5%;
    gap: map-get($viewHeight, cinco );
    a{
        color: #250335;
        font-size: 1.2rem;
    }
  }
  .redesContactame {
    gap:map-get($viewHeight, diez );
    margin-top: map-get($viewHeight, diez ) !important;
    img{
        width: 70px;
        height: 70px;
    } 
  }
  .redesContactamepeque{
    gap: map-get($viewHeight, diez );
    margin-top: map-get($viewHeight, diez ) !important;
    flex-wrap: $wrap;
    img{
        width: 70px;
        height: 70px;
    }
  }

  input[type="text"], input[type="email"], .form_input--message, button[type="submit"]{
    width: 40rem;
    margin-top: map-get($viewHeight, cinco );
    padding: 2%;
    border: 2px solid #250335;
  }

  button[type="submit"]{
    background-color: $color-morado;
    color: #f9f9f9;
    font-weight: 600;
    border: none;
  }

  .formYdescripcionpeque, .formYdescripciongrande{
    gap: map-get($viewHeight, diez );
  }
  .formYdescripcionpeque{
    display: none;
}

  /*FORM RESPONSIVE ---------------------- */
  .formYdescripcionpeque{
    display: none;
  }
  @media (max-width: 1400px) {
    .formYdescripciongrande{
        display: none !important;
    }
    .formYdescripcionpeque{
        display: flex;
        flex-direction: column;
    }
  }
  @media (max-width: 954px) {
    input[type="text"], input[type="email"], .form_input--message, button[type="submit"]{
        width: 30rem;
      }
  }
  @media (max-width: 492px) {
    input[type="text"], input[type="email"], .form_input--message, button[type="submit"]{
        width: 20rem;
      }
    form{
        justify-content: $center;
        align-items: $center;
    }
  }

  