html {
    font-size: 1rem; 
  }

  @media (max-width: 500px) { 
    html {
      font-size: 1rem * 0.7; 
    }
  }
  /*-------------------- SEPARADOR----------------------------*/

hr{
    margin-top: 10%; margin-bottom: 10%;
    background-color: $color-hover !important;
    width: 100%; height: 1vh;
}

/*DARLE COLOR MORADO A LAS LETRAS EN CASO DE NECESITARSE-------------------------------------------------------*/
.colorMorado{
    color: $color-morado;
}

/*ESTILO DEL BOTON DEL PROTOTIPO ------------------------------------------------------------*/

.botonPrototipo{
    background-color: $color-morado;
    width: fit-content;
    padding-left: map-get($viewHeight, tres ); padding-right: map-get($viewHeight, tres ); padding-top: map-get($viewHeight, dos ); padding-bottom: map-get($viewHeight, dos );
    margin: 0 auto;
    cursor: url(../assets/img/cursorMano.png), auto;
    a{
        color: #f9f9f9;
        cursor: url(../assets/img/cursorMano.png), auto;
    }
}
.botonPrototipo:hover{
    background-color: $color-hover;
    a{
        color: #f9f9f9;
    }
}

.redYNombre{
    cursor: url(../assets/img/cursorMano.png), auto;
}

/*BOTONES ------------------------------------*/
 
.boton {
    a{
        font-size: 2rem;
     color: #f9f9f9;
     font-weight: 600;
     text-decoration: none;
     background-color: $color-morado;
     padding-left: 6%; padding-right: 6%; padding-top: 4%; padding-bottom: 4%;
     &:hover{
        background-color: $color-hover;
     }
    }
     
 }

/*SUBRAYADO DE PALABRAS ---------------------- */
.subrayado{
    position: relative;
    display: inline-block;

    img{
        position: absolute;
        bottom: 0%;
        width: 100%;
        right: 0%;
    }
}


/*PARTE ROSADA DE LA SECCIÓN DE QUE SE QUIERE LOGRAR-------------------------------*/
.parteRosada{
    gap: 3%;
    background-color: #EBBFF0;
    width: 100%;
    padding-left: 5%; padding-right: 5%; padding-top: 2%; padding-bottom: 2%;
}