
/*IMAGEN LOGO DEL HEADER CON EL TAMAÑO AJUSTADO-------------------------------------------------------*/
.navbar-brand{
    img{
        height: map-get($viewHeight, siete );
    }
}

/*LAS LETRAS DE LAS OPCIONES DEL HEADER CAMBIAN SU GROSOR----------------------------------------------------*/
.nav-link{
    font-weight: 550;
    &:hover{
        color: $color-hover;
    }
}

/*ESTILO PERSONALIZADO DEL MENÚ DE HAMBURGUESA DEL HEADER (RESPONSIVE)----------------------------------------------*/
.navbar-toggler {
    border: none;
    .navbar-toggler-icon{
        width: $unoPuntoCinco-rem;
        height: $unoPuntoCinco-rem;
        background-image: url(../assets/img/menuHamburguesa.svg);
    }
  }

.estiloMenuHamburguesa{
    background-color: $color-morado;
    width: 100%;
   
    li{
        a{
            color: #f9f9f9;
            
        }
    }
}

/*ESTILO DEL BOTÓN CONTÁCTAME DEL HEADER------------------------------------------------------------------------*/
#contactameBoton{
    background-color: $color-morado;
    padding: map-get($viewHeight, dos );
    color: #f9f9f9;
    font-weight: 550;
    &:hover{
        background-color: $color-hover;
    }
}

/* ------------------------------------------------- FOOTER ------------------------------------------------------*/

footer{
    padding-top: 2%; padding-bottom: 2%; 
    margin-top: map-get($viewHeight, quince );
}