
/*OPCIONES DE NAVEGACIÓN DEL INDEX --------------------------------------- */
.seccionOpcionesIndex{
    width: auto;
    position: absolute;
    z-index: 5;
    ul{
        list-style-type: none; 
        width: auto;
        li:nth-child(1) a, li:nth-child(2) a{
            text-decoration: none;
            color: inherit;
            font-size: 2rem;
            font-weight: 450;
        }
    }
}

/* SECCIÓN MARQUEE Y SILUETA EN EL INDEX ---------------------------------------*/
/* Contenedor principal */
.contenedor {
    position: relative; /* Permite posicionar elementos internos con absolute */
    width: 100%;
    height: 100vh; /* Para ocupar toda la pantalla */
    overflow: hidden; /* Evita cortes en los marquees */

    /* SILUETA */
    .silueta {
        position: absolute; /* Se superpone en el fondo */
        right: 0;
        bottom: 0;
        width: 70vh;
        z-index: 1; /* Debajo de los marquees */
    }

    /* MARQUEE 1 */
    .seccionMarquee {
        position: absolute;
        top: 50%; 
        left: 0;
        width: 100%;
        overflow: hidden;
        white-space: $noWrap;
        z-index: 2; 

        .contenidoMarquee {
            display: flex;
            flex-direction: row;
            align-items: map-get($alineacion, centro );
            gap: 1vw;
            min-width: 200%;
            background-color: $color-hover;
            animation: marquee 20s linear infinite;
            padding-top: map-get($viewHeight, tres ); 
            padding-bottom: map-get($viewHeight, tres );
        
            h1 {
                color: #f9f9f9;
                font-size: 4rem;
                background-color: $color-hover;
                font-weight: 650;
            }
        
            img {
                height: map-get($viewHeight, cinco );
                background-color: $color-hover;
            }
        }
    }

    /* MARQUEE 2 */
    .seccionMarquee2 {
        position: absolute;
        top: 75%; /* Ajusta la altura del segundo marquee */
        left: 0;
        width: 100%;
        overflow: hidden;
        white-space: $noWrap;
        z-index: 2;

        h2 {
            color: #f9f9f9;
            font-size: 4rem;
            background-color: $color-hover;
            font-weight: 650;
        }

        .contenidoMarquee2 {
            display: flex; /* Asegura que flexbox esté habilitado */
            flex-direction: row; /* Fuerza la alineación horizontal */
            align-items: map-get($alineacion, centro );
            gap: 1vw;
            min-width: 200%;
            background-color: $color-hover;
            animation: marquee2 20s linear infinite;
            padding-top: map-get($viewHeight, tres ); 
            padding-bottom: map-get($viewHeight, tres );
        
            img {
                height: map-get($viewHeight, cinco );
                background-color: $color-hover;
            }
        }
    }

    /* RESPONSIVE DEL INDEX ----------------------------------------------------*/
    @media screen and (max-width: 1023px) {
        margin-top: map-get($viewHeight, diez );

        .silueta {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .seccionMarquee2 {
            top: 70%;
        }

        .contenidoMarquee, .contenidoMarquee2 {
            gap: 3vw;
        }

        .contenidoMarquee h1, .contenidoMarquee2 h2 {
            font-size: 3rem;
        }
    }
}

@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-30%); }
}

@keyframes marquee2 {
    from { transform: translateX(-30%); }
    to { transform: translateX(0%); }
}

/* RESPONSIVE GENERAL DEL INDEX ----------------------------------------------------*/
.indexPantallaPeque {
    display: none;
}

@media screen and (max-width: 1023px) {
    .indexPantallaPeque {
        display: block;
    }

    .indexPantallaGrande {
        display: none;
    }

    .logoIndex {
        text-align: map-get($alineacion, centro );
        justify-items: map-get($alineacion, centro );
    }

    .seccionOpcionesIndexPeque {
        width: auto;
        margin-top: map-get($viewHeight, diez );
        margin-left: 0;

        nav {
            margin: 0 auto;

            ul {
                text-align: map-get($alineacion, centro );
                list-style-type: none;
                padding: 0;

                li {
                    column-gap: 80px;

                    a {
                        text-decoration: none;
                        color: $color-morado;
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}