*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    background-color: #f9f9f9;
    scroll-behavior: smooth;
    cursor: url(../assets/img/cursor.png), auto;
}
body{
    cursor: url(../assets/img/cursor.png), auto;
}
a{
    cursor: url(../assets/img/cursorMano.png), auto;
}