$color-morado: #955AB1;
$color-hover: #301F36;
$unoPuntoCinco-rem: 1.5rem;
$center: center;
$wrap: wrap;
$noWrap: nowrap;

/*MAPA DE JUSTIFY CONTENT*/
$alineacion:(
    "centro": center,
    "space-between": space-between,
    "space-around": space-around,
    "space-evenly": space-evenly,
    "start": start,
    "end": end,
);

$viewHeight:(
    "cinco": 5vh,
    "diez": 10vh,
    "ocho": 8vh,
    "doce": 12vh,
    "siete": 7vh,
    "tres": 3vh,
    "ochenta": 80vh,
    "cuatro": 4vh,
    "dos": 2vh,
    "quince": 15vh,
    "seis": 6vh,
    "medio": .5vh,
);